:root {
    --shadowStandard: 0 0 .5rem rgba(0, 0, 0, 0.3);
    --borderRadiusStandard: 1rem;
    --accentColor1: rgb(96, 126, 160);
}

body {
    background-color: var(--accentColor1);
}

nav {
    width: 100%;
    height: 4rem;
    background-color: rgba(96, 126, 160, 0.7);
    backdrop-filter: blur(20px);
    position: fixed;
    top: 0;
    z-index: 99;
    display: flex;
    transition-duration: 200ms;
}

.navLogoImg {
    height: 4rem;
    position: absolute;
    cursor: pointer;
}

.navContainerForLinks {
    margin: auto;
    padding: 1.5rem;
    padding-bottom: 1rem;
}

.navLinks {
    padding: 1rem;
    color: white;
    font-weight: 500;
}

.navContact {
    position: absolute;
    margin-top: 0.5rem;
    padding: 1rem 2rem 0 2rem;
    color: white;
    font-weight: 500;
    right: 0;
}

.pagecontainer {
    margin: auto;
    margin-top: 1rem;
    width: calc(100% - 2rem);
    max-width: 80rem;
}

.carousel-inner {
    border-radius: var(--borderRadiusStandard);
    box-shadow: var(--shadowStandard);
    border: 0.1rem solid white;
}

.cardObj {
    border-radius: var(--borderRadiusStandard);
    box-shadow: var(--shadowStandard);
    overflow: hidden;
    margin-top: 2rem;
    height: 30rem;
    background-color: black;
    cursor: pointer;
    transition-duration: 200ms;
    outline: 0.1rem solid rgba(255, 255, 255, 0);
}

.textLight {
    color: rgb(255, 255, 255);
}

.cardImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 1)), to(rgba(0, 0, 0, 0.5)));
    transition-duration: 500ms;
}

.cardBody {
    bottom: 0;
    position: absolute;
    padding: 2rem;
}

.cardObj:hover .cardImage {
    transform: scale(1.2);
}

.cardObj:hover {
    outline: 0.1rem solid rgb(255, 255, 255);
}

.accent {
    margin-top: -15rem;
    padding-top: 16rem;
    padding-bottom: 1rem;
    margin-bottom: 3rem;
    width: 100%;
    z-index: -1;
    background-color: white;
}

.panel {
    padding: 2rem;
    padding-top: 0;
    margin-top: 1rem;
}

p {
    font-size: 1.4rem;
    margin: 0;
}

@media only screen and (max-aspect-ratio: 4/5) {
    .slide1 {
        content: url(media/banner-vertical-1.jpg);
    }

    .slide2 {
        content: url(media/banner-vertical-1.jpg);
    }

}

@media only screen and (max-width: 1000px) {
    .navContainerForLinks {
        display: none;
    }
}